body {
    font-family: Arial, Helvetica, sans-serif;
}

.estrutura {
    text-align: center; 
  }

  .calculadora {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
  }


  .title {
    font-size: 1.2rem; 
    margin-bottom: 10px; 
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttons {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 10px; 
  }

  .buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
  }

  .buttons button:hover {
    background-color: #e0e0e0; 
  }

  #resultado {
    font-weight: bold;
    margin-top: 10px; 
  }
  
