* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p,
h1,
h2 {
    text-align: center;
    color: white;
}

main {
    text-align: center;
}

.padrao {
    font-size: 50px;
    background-color: black;
    color: white;
    border-radius: 5rem;
}

button {
    width: 100px;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border: white;
}

#buttons {
    display: inline-block;
    align-items: center;
    text-align: center;
    width: 100%;
}

#SASUKE,
#ITACHI,
#OBITO,
#MADARA,
#INDRA {
    display: inline-block;
    margin-right: 10px;
    color: white;
    border-radius: 5rem;
}

.H1Sasuke {
    background-color: #000000;
}

.H1Itachi {
    background-color: #f56565;
}

.H1Obito {
    background-color: #2f00ff;
}

.H1Madara {
    background-color: #c53030;
}

.H1Indra {
    background-color: #553c9a;
}


#SASUKE {
    background-color: #000000;
}

#ITACHI {
    background-color: #f56565;
}

#OBITO {
    background-color: #2f00ff;
}

#MADARA {
    background-color: #c53030;
}

#INDRA {
    background-color: #553c9a;
}